.btn, .btn-lg {
  border-radius: 50px;
}
.btn-primary {
  background-color: map-get($map: $colors, $key: blueLight);
  border-color: map-get($map: $colors, $key: blueLight);
  color: rgba(255, 255, 255, 1);
  &:hover {
    background-color: map-get($map: $colors, $key: blue);
    border-color: map-get($map: $colors, $key: blue);
    color: rgba(255, 255, 255, 1) !important;
  }
}
.btn-outline-primary {
  border-color: map-get($map: $colors, $key: blue);
  color: map-get($map: $colors, $key: blue);
  &:hover {
    background-color: map-get($map: $colors, $key: blueLight);
    border-color: map-get($map: $colors, $key: blueLight);
    color: rgba(255, 255, 255, 1) !important;
  }
}