$colors: (
  blue: #6e31cc,
  blueLight: #9a57ff,
  blueLighter: #9a57ff,
  blueAccent: #9a57ff,
  pink: #00a38b,
  pinkLight: #4fff88,
  pinkLighter: #4fff88,
  green: #4fff88,
  grey: #9e9e9e,
  greyLight: #eee,
  greyLighter: #fafafa,
  greyDark: #424242,
  greyDarker: #222,
);

@each $value in $colors {
  .text-#{nth($value, 1)} {
    color: nth($value, 2);
  }
  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
  .btn-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
  .badge-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
  .border-#{nth($value, 1)} {
    border-color: nth($value, 2);
  }
}
